html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body{
    margin: 0 auto;
    background-color: #0c0116;
}
.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 30px;
    background: #19052c;
    box-shadow: 0px 0px 10px 0px rgb(116,119,114);
    border: 1.5px solid rgb(109, 87, 121);
}

.collapsible {
    background-color:  #0c0116 ;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #19052c;
    /*border: 3px solid grey;
    */-webkit-transition: max-height 0.2s ease-out;
    -moz-transition: max-height 0.2s ease-out;
    -ms-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    -webkit-transition: max-height 0.2s ease-out;
}

.full-chat-block {
    width: 350px;
    background: #19052c;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
    -webkit-transition: max-height 0.2s ease-out;
    -moz-transition: max-height 0.2s ease-out;
    -ms-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
    
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
    
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #19052c;
    border: 1.5px solid rgb(109, 87, 121);
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 10px 0px 10px 10px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    /*background: #5ca6fa;
    */padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards;
    -o-border-radius: 8px;
    -webkit-animation: floatup .5s forwards;
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards;
    -webkit-animation: floatup .5s forwards;
}

.chat-list-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.chat-list{
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    */align-items: center;
    width: 500px;
    /*border: 1px solid red;
    *//*background-color: #5ca6fa;
    */padding: 30px;
    border-radius: 9px;
    height: 400px;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}
.homepage-heading{
    color: white;
}
.chat-list > item{
    border-top: 1px solid #800080;
}

.chat-list .item{
    /* height: 50px; */
    /* background-color: #e0e0e0; */
    color: white;
    /* border-radius: 9px; */
    width: 100%;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-left: 15px;
    border-bottom: 1px solid #800080;
    /* cursor: pointer; */
}

.chat-list .item:hover{
    cursor: pointer;
    background-color: rgba(224, 36, 177, 0.3);
    color: white;
}

.chat-list .item h5{
    /* padding: 0; */
    margin: 15px 0 0 0;
}

.chat-list .item p{
    margin: 5px 0 10px 0;
    font-size: 12px;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
     
        
}
    to {
        transform: translateY(0px);
        opacity: 1;
        
}
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
        
}
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
}

    .chat-list{
        width: 400px;
    }
}

